@model IEnumerable<WebsiteForReservation.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Users</h2>

<table class="table">
    <tr>

        <th>
            <span style="font-weight:bold; font-size:20px;">First Name </span>
        </th>
        <th>
            <span style="font-weight:bold; font-size:20px;">Last Name</span>
        </th>
        <th>
            <span style="font-weight:bold; font-size:20px;">E-mail</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span style="font-weight:bold; font-size:15px;"> @Html.DisplayFor(modelItem => item.FirstName) </span>
        </td>
        <td>
            <span style="font-weight:bold; font-size:15px;">@Html.DisplayFor(modelItem => item.LastName) </span>
        </td>
        <td>
            <span style="font-weight:bold; font-size:15px;">@Html.DisplayFor(modelItem => item.Email) </span>
        </td>
        <td>
            @Html.ActionLink("Add Reservation", "AdminReservation", new { id = item.UserId }, new { @class = "btn btn-primary btn-block" })
        </td>
        <td>
            @Html.ActionLink("Delete User", "ConfirmDeletionUser", new { id = item.UserId }, new { @class = "btn btn-primary btn-block" })
        </td>
    </tr>
}

</table>
